<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raquezha.net.anongnumberto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:label="@string/app_name"
        android:name=".ANTApplication">

    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="ajCGi0ErZhxYrE2zDheCIQ2RYOrG6yB1brXfhl0l" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="CVh1nt5P2kYmp6tt1qY9kneIl7B1Ea6RWHjo9qCT" />

    </application>

</manifest>
